{%extends "base.html"%}
{%load crispy_forms_tags%}
{%block title%}Bienvenido{%endblock%}
{%block jumbotron%}
<div class="row">
    <div class="col-sm-6">
        <h1>Django Test App</h1>
            <p class="lead">
                Mi primer sitio creado con Django, con el cual adquiero nuevas habilidades con este framework
            </p>
    </div>
    <div class="col-sm-6" style="background-color: black;"></div>
</div>    
{%endblock%}
{%block content%}
<div class="card">
<div class="card-header"><h3 class="texto-alineado">Registro</h3></div>    
<div class="card-body">
<form class="form" method="POST" action="">{%csrf_token%}
    {{my_form|crispy}}
    <input type="submit" class="btn btn-primary btn-block" value="Register">
</form>
</div>
</div>
{%endblock%}